@media only screen and (min-width: 1440px) {
	.s-contacts {
		.container {
			padding-left: 20%;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.s-location {
		text-align: center;
		button {
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
	footer {
		form {
			input {
				width: 100%;
			}
			button {
				margin-top: 25px;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 993px) {
	nav {
		padding: 0!important;
		.navbar-mobile-container {
			width: 100%;
			padding-left: 25px;
			padding-right: 25px;
		}
		.container {
			position: relative;
			ul {
				display: none;
				position: absolute;
				top: 101px;
				width: 100%;
				flex-direction: column;
				padding-top: 25px;
				padding-bottom: 25px;
				background-color: #fff;
				li {
					margin: 0 auto;
					a {
						font-size: 28px;
					}
				}
			}
		}
	}
	.s-buy {
		.buy-header {
			.choose-countries {
				justify-content: center;
				.options {
					margin-top: 25px;
				}
			}
		}
	}
	.banner {
		form {
			input,
			select,
			button {
				margin-top: 50px;
			}
		}
	}
	.s-location {
		.location-images {
			img {
				margin-bottom: 25px;
			}
		}
	}
	.s-locations {
		.location-card {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.s-slider {
		.slide {
			max-width: 370px;
		}
	}
	.s-subscribe {
		button {
			margin: 0 auto;
			margin-top: 25px;
		}
	}
	.s-contacts {
		.container {
			padding-right: 50px;
			padding-left: 50px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.s-buy {
		.buy-header {
			.choose-countries {
				.country {
					margin-bottom: 15px;
				}
				.options {
					margin-top: 25px;
					div {
						margin-right: 0px;
					}
				}
				button {
					margin-top: 25px;
				}
			}
		}
	}
	.s-reviews {
		.reviews {
			margin: 0;
			.review {
				.user-profile {
					border: 0;
					padding: 0;
				}
				.user-text {
					padding: 0;
					h3 {
						margin-top: 25px;
					}
				}
			}
		}
	}
	.s-download {
		h2 {
			margin-top: 50px;
		}
		button {
			margin-bottom: 50px;
		}
	}
	.s-contacts {
		.container {
			max-width: 60%;
			padding-right: 0;
			padding-left: 0;
			form {
				button {
					margin: 0 auto;
					margin-top: 50px;
					margin-bottom: 50px;
				}
			}
		}
	}
	footer {
		.links-list {
			h4 {
				font-size: 18px;
			}
		}
		.footer-subscribe {
			h4 {
				margin-top: 25px;
				font-size: 24px;
			}
		}
	}
}

@media only screen and (max-width: 540px) {
	.s-reviews {
		.reviews-header {
			padding-top: 25px;
			padding-bottom: 25px;
			height: auto;
			p {
				margin-left: 15px;
			}
		}
	}
	.s-location {
		.location-images {
			img {
				width: 100%;
			}
		}
	}
	.s-contacts {
		.container {
			max-width: 90%;
		}
	}
}

@media only screen and (max-width: 370px) {
	.s-buy {
		.card {
			border-radius: 0px;
		}
	}
	.s-reviews {
		button {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	footer {
		.socials {
			.social {
				margin-right: 10px;
			}
		}
	}
}
