@media only screen and (max-width: 1200px) {
	.s-location {
		text-align: center;
		button {
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
}

@media only screen and (max-width: 992px) {
	.banner {
		form {
			input,
			select,
			button {
				margin-top: 50px;
			}
		}
	}
	.s-location {
		.location-images {
			img {
				width: 100%;
				margin-top: 50px;
			}
		}
	}
	.s-subscribe {
		button {
			margin: 0 auto;
			margin-top: 25px;
		}
	}
	.s-slider {
		.slide {
			max-width: 370px;
		}
	}
	.s-contacts {
		.container {
			padding-right: 50px;
			padding-left: 50px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.s-contacts {
		.container {
			max-width: 60%;
			padding-right: 0;
			padding-left: 0;
			form {
				button {
					margin: 0 auto;
					margin-top: 50px;
					margin-bottom: 50px;
				}
			}
		}
	}
}

@media only screen and (max-width: 540px) {
	.s-contacts {
		.container {
			max-width: 90%;
		}
	}
}

@media only screen and (max-width: 320px) {}
